    <div class="text-center" >
            <h6><i class="fa fa-share-alt sr-share-social"></i> Share with friends</h6> 
            <div class="col-sm-4 offset-sm-4">
              <div class="input-group">
                <a target="_blank" href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fcollegescorecard.io%2F&mini=true&title=&summary="><button type="button" class="btn btn-md btn-default" alt="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></button></a>

                                        
                <a target="_blank" href="https://plus.google.com/share?url=https%3A%2F%2Fcollegescorecard.io%2F" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=300');return false;"><button type="button" class="btn btn-md btn-default" alt="Share on Google-Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></button></a>

                  
                <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=&url=https%3A%2F%2Fcollegescorecard.io%2F" data-size="small"><button type="button" class="btn btn-md btn-default"  alt="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></button></a>
                  
                <button type="button" class="btn btn-md btn-default"  alt="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcollegescorecard.io%2F','facebook-share-dialog','width=313,height=218'); return false;"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                
                <!-- <a href="mailto:?subject=College search with Collegescorecard.io&body=Hi,I found this website
                         called collegescorecard.io and thought it might help you with your college search!"></a> -->
                <button type="button" class="btn btn-md btn-default"  alt="email contacts">
                    <a href="mailto:?subject=College search with CollegeScoreCard.io&body=Hi, I found this website called CollegeScoreCard.io and thought it might help you with your college search!"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </button>
                  
                </div>
            </div>
    </div>
