<!DOCTYPE html>
<html lang="en">
{% include "html_header.html" %}
<body>
    
<!-- <i class="fa fa-frown-o fa-5x" style="color:#0047b3;"></i> -->
    <div class="container">
    {% if sch.uid != None %}
        <!-- <h4>{{ sch.INSTNM }}</h4> -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Symbol</th>  
                <th>Metric</th>
                <th>School numbers</th>
                <th>National avg.*</th>
              </tr>
            </thead>
            <tbody>
            {# row debt begins #}
            {% if sch.rankp_DEBT_MDN < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>D</td>  
                      <td><abbr>Debt (median $)<span>Median original loan amount as students enter the repayment program</span></abbr></td>
                {% if sch.DEBT_MDN_PRESENT != 0 %}
                <td>{{ sch.r_fin_DEBT_MDN }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.DEBT_MDN }}</td>
                  </p>
              </tr>
            {# row debt ends #}    
                
            {# row earning begins #}    
            {% if sch.rankp_MN_EARN_WNE_P6 < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>              
            {% endif %}
                  <p>
                <td>E</td>  
                <td><abbr>Earning (6-yr.)<span>Mean earning of students who are working and not enrolled 6 years after their entry to the school</span></abbr></td>
                {% if sch.MN_EARN_WNE_P6_PRESENT != 0 %}
                <td>{{ sch.r_fin_MN_EARN_WNE_P6 }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.MN_EARN_WNE_P6 }}</td>
                  </p>
              </tr>
            {# row earning ends #}
                
                
            {# row completion begins #}    
            {% if sch.rankp_C150_4_COMB < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>C</td>  

                      <td><abbr>Completion (%)<span>% of full-time AND first-time students who complete within 150% of expected time to completion</span></abbr></td>
                {% if sch.C150_4_COMB_PRESENT != 0 %}
                <td>{{ sch.r_fin_C150_4_COMB }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.C150_4_COMB }}</td>
                  </p>
              </tr>
            {# row completion ends #}                
                
            {# row sticker price begins #}    
            {% if sch.rankp_COSTT4_COMB < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>$</td>  
                      <td><abbr>Sticker price (avg. $):<span> Net price + the average scholarship grants/aid</span></abbr></td>
                {% if sch.COSTT4_COMB != 0 %}
                <td>{{ sch.r_fin_COSTT4_COMB }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.COSTT4_COMB }}</td>
                  </p>
              </tr>
            {# row sticker price ends #}
                
                
            {# row net price begins #}    
            {% if sch.rankp_NPT4_COMB < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>N</td> 
                <td><abbr>Net price (avg. $)<span>Average net price for Title IV public, private for-profit and nonprofit institutions.</span></abbr></td>
                {% if sch.NPT4_COMB_PRESENT != 0 %}
                <td>{{ sch.r_fin_NPT4_COMB }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.NPT4_COMB }}</td>
                  </p>
              </tr>
            {# row net price ends #}
                
            {# row withdrawal begins #}    
            {% if sch.rankp_WDRAW_ORIG_YR6_RT < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>W</td>  
                <td><abbr>Withdrawal (%)<span>% of students withdrawn from original institution within 6 years</span></abbr></td>
                {% if sch.WDRAW_ORIG_YR6_RT_PRESENT != 0 %}
                <td>{{ sch.r_fin_WDRAW_ORIG_YR6_RT }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.WDRAW_ORIG_YR6_RT }}</td>
                  </p>
              </tr>
            {# row withdrawal ends #}
                
            {# row pell pct begins: PCTPELL #}    
            {% if sch.rankp_PCTPELL < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>P</td>  
                <td><abbr>Pell recipient (%)<span>% of undergraduates who receive a Pell Grant</span></abbr></td>
                {% if sch.PCTPELL_PRESENT != 0 %}
                <td>{{ sch.r_fin_PCTPELL }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.PCTPELL }}</td>
                  </p>
              </tr>
            {# row pell pct ends #}
                
            {# row expenses on students begins: ADJ_INEXPFTE #}    
            {% if sch.rankp_ADJ_INEXPFTE < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>Ex</td>  
                <td><abbr>Expenses on students (avg, %)<span>The amount schools spend on instructional expenditures per full-time equivalent student, adjusted for location</span></abbr></td>
                {% if sch.ADJ_INEXPFTE_PRESENT != 0 %}
                <td>{{ sch.r_fin_ADJ_INEXPFTE }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.ADJ_INEXPFTE }}</td>
                  </p>
              </tr>
            {# row expenses on students ends #}
                
            {# row returning student pct begins #}    
            {% if sch.rankp_COMB_RET_RATE < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>R</td>  
                <td><abbr>Returing student (%)<span>% of students who come back after first year of college</span></abbr></td>
                {% if (sch.RET_FT4_COMB_PRESENT)*(sch.RET_PT4_COMB_PRESENT)*(sch.PFTFTUG1_EF_PRESENT) != 0 %}
                <td>{{ sch.r_fin_COMB_RET_RATE }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.COMB_RET_RATE }}</td>
                  </p>
              </tr>
            {# row returning student pct ends #}  
                
            {# row FT fac pct begins #}    
            {% if sch.rankp_PFTFAC < WARN_LEVEL %}
              <tr style="color: #d80d0d">
            {% else %}
              <tr>                
            {% endif %}
                  <p>
                <td>FT</td>  
                <td><abbr>Full-time faculty (%)<span>% of full-time faculty</span></abbr></td>
                {% if sch.PFTFAC_PRESENT != 0 %}
                <td>{{ sch.r_fin_PFTFAC }}</td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>{{ nat_mean.PFTFAC }}</td>
                  </p>
              </tr>
            {# row FT fac pct ends #}  
            </tbody>
          </table>            
        
        

        <br>
        A total of {{ sch.COUNT_MISSING }} important metric(s) is/are missing.
        <br>
        Quantities in <span style="color: #d80d0d">red</span> are in the <b>lowest 20 percentile, or missing.</b>
        <br>
        <b>National averages</b> are calculated among schools having the same Carnegie classification.
    {% else %}
        <p>No entries found.</p>
    {% endif %}
    <br>
        <a href="/explainer" target="_blank">What do these quantities mean?</a>
    </div>
</body>
</html>