abbr span, abbr div {font-family:Work Sans;}
abbr, abbr[data-title] {cursor:help;
  text-decoration:none;
  border-bottom:1px dotted rgba(0,0,0,0.4);
  border-radius:8px;}
abbr:hover {background:rgba(0,0,0,0.1);}
abbr[data-title]:hover {
  position:relative;
  background:rgba(69,179,204,.2);
  }
abbr[data-title]:hover:after {position:absolute;
  left:16px; top:calc(100% + .8em); z-index:20;
  content:attr(data-title);
  white-space:nowrap;
  padding:2px 4px 0;
  border:1px solid green; border-radius:6px;
  box-shadow:2px 2px 4px  rgba(69, 179, 204,0.3);
  background:linear-gradient(#fff, #ddd);
  color:#030;}
div.tip {
  display:inline-block !important;
  margin:0; background:red;}
abbr span, div.tip div {
  position:absolute;
  display:none;
  z-index:10;
  padding:2px 4px 0; margin:1.5em 0 0 8px;
  max-width:0px;
  border:1px solid green;
  border-radius:6px;
  box-shadow:2px 2px 4px rgba(69, 179, 204,0.3);
  background:linear-gradient(#fff, #ddd);
  visibility:hidden; opacity:0;
  -webkit-transition:
    visibility 2s linear,
    opacity 2s linear;
  transition:
    visibility 2s linear,
    opacity 2s linear;
  }
abbr:hover span, div.tip:hover div {
  display:inline-block;
  max-width:300px;
  visibility:visible; opacity:1;
  -webkit-transition-delay:0s;
  transition-delay:0s;
  }
